/**
 * @file
 * Contains CSS styles for crownpeak autofix config form.
 */
#edit-trigger-button-icon {
  max-width: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}

#edit-trigger-button-icon .form-type-radio {
  margin: 10px 0px 10px 10px;
}

#edit-trigger-button-icon .form-type-radio label {
  text-indent: -200em;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 0px 0px 5px;
  background-size: 30px 30px;
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-display + label {
  background-image: url(../images/icons/display.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-display2 + label {
  background-image: url(../images/icons/display2.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-display3 + label {
  background-image: url(../images/icons/display3.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-help + label {
  background-image: url(../images/icons/help.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-people + label {
  background-image: url(../images/icons/people.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-people2 + label {
  background-image: url(../images/icons/people2.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-settings + label {
  background-image: url(../images/icons/settings.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-settings2 + label {
  background-image: url(../images/icons/settings2.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-wheels + label {
  background-image: url(../images/icons/wheels.svg);
}

#edit-trigger-button-icon .form-radio#edit-trigger-button-icon-wheels2 + label {
  background-image: url(../images/icons/wheels2.svg);
}
