{#
/**
 * @file
 * Default theme implementation to display a crownpeak autofix trigger block.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<div class="crownpeak-autofix-trigger-block">
  <span data-acsb-custom-trigger="true">Insert trigger image or text</span>
</div>

