{#
/**
 * @file
 * Default theme implementation for generating JS.
 *
 * Available variables:
 * - crownpeak_autofix_configs: A list of buttons that may be added multiple times.
 *
 * @ingroup themeable
 */
#}

acsbJS.init({
  statementLink : '{{ crownpeak_autofix_configs.accessibility_statement_link }}',
  feedbackLink : '{{ crownpeak_autofix_configs.feedback_form_link }}',
  footerHtml : '',
  hideMobile : {{ crownpeak_autofix_configs.hide_on_mobile }},
  hideTrigger : {{ crownpeak_autofix_configs.hide_trigger_button }},
  language : '{{ crownpeak_autofix_configs.interface_language }}',
  position : '{{ crownpeak_autofix_configs.interface_position }}',
  leadColor : '{{ crownpeak_autofix_configs.interface_lead_color }}',
  triggerColor : '{{ crownpeak_autofix_configs.trigger_button_color }}',
  triggerRadius : '{{ crownpeak_autofix_configs.trigger_button_shape }}',
  triggerPositionX : '{{ crownpeak_autofix_configs.trigger_horizontal_position }}',
  triggerPositionY : '{{ crownpeak_autofix_configs.trigger_vertical_position }}',
  triggerIcon : '{{ crownpeak_autofix_configs.trigger_button_icon }}',
  triggerSize : '{{ crownpeak_autofix_configs.trigger_button_size }}',
  triggerOffsetX : '{{ crownpeak_autofix_configs.trigger_horizontal_offset }}',
  triggerOffsetY : '{{ crownpeak_autofix_configs.trigger_vertical_offset }}',
  mobile : {
    triggerSize: '{{ crownpeak_autofix_configs.mobile_trigger_size }}',
    triggerPositionX : '{{ crownpeak_autofix_configs.mobile_trigger_horizontal_position }}',
    triggerPositionY : '{{ crownpeak_autofix_configs.mobile_trigger_vertical_position }}',
    triggerOffsetX : '{{ crownpeak_autofix_configs.mobile_trigger_horizontal_offset }}',
    triggerOffsetY : '{{ crownpeak_autofix_configs.mobile_trigger_vertical_offset }}',
    triggerRadius : '{{ crownpeak_autofix_configs.mobile_trigger_shape }}'
  }
});

